.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
.padding {
  padding: 20px;
}

/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
.margin {
  margin: 30px;
}

/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {
  border: 5px solid black;
}

/* ************************* */
/*  conteudo do 2 exercicio  
 
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser.
*/
.super-mario {
  width: 200px;
  position: absolute;
  z-index: 4;
  top: 300px;
  left: 30px;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 5;
  top: 580px;
  left: 150px;
}

.baloon {
  position: absolute;
  z-index: 2;
  top: 350px;
  left: 250px;
}

.speach {
  position: absolute;
  z-index: 3;
  top: 390px;
  left: 270px;
  font-size: 25px;
}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 450px;
  left: 530px;
}
